*{
   
    margin: 0;
    color: rgb(0, 0, 0);

}
.hero {
    background-image: url("poimg.jpg");
    height: 940px;
    width: 1467px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
   
  }
.link{
    float: right;  
}
.con{
    text-align: left;
    padding-top: 400px;  
    padding-left: 90px;
}
.con p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.con p1{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
  }
h1{
    padding-top: 20px;
    padding-left: 20px;
  }
nav ul li a:link{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline; 

}


